spring:
  data:
    mongodb:
      uri: mongodb+srv://user1:iXNMdMhvJdjkb55g@cluster0.zfqkw.mongodb.net/journaldb
      database: journaldb
      auto-index-creation: true

  main:
    allow-circular-references: true

server:
  port: 8080
  servlet:
    context-path: /journal
